body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    width: 70vw;
    height: 70vh;

    /* border-radius: 8px; */
}

.welcome {
    border-radius: 8px;
    /* width: 70vw; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition-duration: 0.5s;
    z-index: 2;
    transform: scale(1);
}



.welcome-heading {
    margin: 0 0 4px 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    color: white;
    font-size: 2vw;
    font-style: italic;
    font-family: 'Papyrus', 'Fantasy';
    text-transform: uppercase;
    transition-duration: 0.5s;
}

.welcome-text {
    font-family: 'Monaco';
    font-size: 1vw;
    color: white;
    transition-duration: 0.5s;
}

.intro {
    margin: 0 0 20px 0;

    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;


    font-family: 'Monaco';
    color: white;
    font-size: 1.5vw;

    transition-duration: 0.5s;
}